@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
}
.navbar{
    background-color:#F2EAD1;
    display: flex;
    justify-content: right;
    align-items: right;
}

.logo{
    margin-top: 10px;
    height: 100px;
    width: auto;
    cursor: pointer;
}

.container{
    background-color:#F2EAD1;
    display: flex;
    justify-content: left;
}

.top-left-image {
    position: fixed;
    margin-top: -15%;
    margin-left: -15%;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color:#F2EAD1;
    background-size: cover;
    background-position: right;
    padding: 10px 10%;
    color: black;
}

.hero h3{
    color: #999696;
    text-align: center;
}

.hero p{
    position: absolute;
    bottom: 300px;
    right: 100px;
    font-size: 20px;
}

form{
    background: #D9D9D9;
    display: flex;
    width: fit-content;
    align-items: center;
}

form input{
    position: absolute;
    bottom: 200px;
    right: 100px;
    border-radius: 50px;
    border-color: black;
    outline: none;
    padding: 10px 20px;
    height: 70px;
    width: 600px;
    font-size: 16px;
}

form button{
    position: absolute;
    bottom: 200px;
    right: 100px;
    background: #EB8F8F;
    border-radius: 50px;
    border-color: black;
    outline: none;
    height: 70px;
    width: 100px;
    cursor: pointer;
}

span{
    margin-top: 10px;
    display: block;
}